services:
  mailpit:
    image: axllent/mailpit:latest
    container_name: mailpit
    restart: unless-stopped
    ports:
      - "8025:8025"   # interface web
      - "1025:1025"   # SMTP
      - "1143:1143"   # IMAP (si tu veux)
    volumes:
      - mailpit_data:/data
    environment:
      MP_DATA_FILE: /data/mailpit.db

volumes:
  mailpit_data:
